html {
    font-family: 'Roboto', sans-serif;
    
}

.billboard { 
    overflow: hidden;
    background-image: url(../images/cookingbillboard.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 100%; 
}

.billboard2 { 
    overflow: hidden;
    background-image: url(../images/babyhittinghead.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 100%; 
    min-height: 700px;
}


h1 {
    background-color: rgba(255, 255, 255, .75); 
    text-align: center;
}

.back1 { 
    background-color: #cccccc;
}

.back2 {
    background-color: rgba(230, 230, 230, .35);
}

.whitetext {
    color: white;
    text-decoration: none;
}

.white {
    background-color: rgba(255, 255, 255, .75); 
}
 
.logo {
    height: 7rem;
    width: auto;
    padding: .25rem 5%;
}

.nodecoration {
    text-decoration: none;
}

.minwidth {
    min-width: 250px;
}