html {
    font-family: 'Roboto', sans-serif;
    color: #643420; 
    
}

.billboard { 
    overflow: hidden;
    background-image: url(../images/cookingbillboard.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 100%; 
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.billboard2 { 
    overflow: hidden;
    background-image: url(../images/bottombillboard.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 100%; 
    padding-top: 15rem;
    padding-bottom: 1rem;
    
}


h1 {
    background-color: rgba(255, 255, 255, .75); 
    text-align: center;
}

.back1 { 
    background-color: #EBDFC0;
}

.back2 {
    background-color: rgba(230, 230, 230, .35);
}

.whitetext {
    color: white;
    text-decoration: none;
}

.white {
    background-color: rgba(255, 255, 255, .75); 
}
 
.logo {
    height: 7rem;
    width: auto;
    padding: .25rem 5%;
}

.nodecoration {
    text-decoration: none;
}

.minwidth {
    min-width: 250px;
}

.btn2 {
  padding: 0.375em 0.75em 0.42em;
  background-color: #A68569;
  border-radius: 8px;
  border: 0;
  color: #fff;
  text-decoration: none;
}


a:focus { 
    outline: 3px solid blue;
} 

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
} 

. skip-links a { 
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: 0.5em 0.75em; 
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus { 
    top: 0;
}

.maxwidth {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}
    

label {
    display: block;
    cursor: pointer;
    text-align: center;
} 

input + label {
    display: inline;
    text-align: center;
}

input {
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    border-color: #EBDFC0;  
    font-size: 1rem;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    display: block;
    align-content:center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

button {
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #EBDFC0;
}

.btn {
    background-color: #A68569;
}

center { 
    text-align: center;
}
